.app-header {
    .header-content {
        justify-content: space-between;
        nav {
            justify-content: space-between;
            align-items: center;
            a {
                padding: 0 1.5em;
            }
        }
    }
}
