.game-list {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    > * {
        // grid-column: ;
    }
}
